<div>
    <fieldset>
        <legend>Colour Key</legend>
        {foreach $da as $d}
            <div style="height:16px;">
                <div style="margin-right: 10px;height: 10px;width:60px;float:left;background-color:#{$d.Colour};top: 6px;position: relative;">&nbsp;</div>
                <div style="margin-left:20px;">{$d.PartStatusName}</div>
            </div>
          
            
        {/foreach}
    </fieldset>
</div>