<ASREQUEST_CIC_ASC>
  <AS_REQUEST>
    <ASREQUEST_INFO>
      <CLIENT>{$client.ClientName}</CLIENT>
      <MANUFACTURER>{$manufacturer}</MANUFACTURER>
      <BOOKING_TYPE>12</BOOKING_TYPE>
      <COMPANY>{$nsp.CompanyCode}</COMPANY>
      <TR_NO>{$job.JobID}</TR_NO>
      <ASC_CODE>{$nsp.AccountNo}</ASC_CODE>
      <JOB_NO>{$job.ServiceCentreJobNo}</JOB_NO>
      <PRODUCT>
        <PRODUCTSHORT>
          <MODEL_CODE>{$model_code}</MODEL_CODE>
          <SERIAL_NO>{$job.SerialNo}</SERIAL_NO>
          <IMEI_NO>{$job.ImeiNo}</IMEI_NO>
          <PURCHASE_DATE>{$job.DateOfPurchase|date_format:'%Y%m%d'}</PURCHASE_DATE>
        </PRODUCTSHORT>
        <SYMPTOM>
          <SYMPTOM1></SYMPTOM1>
          <SYMPTOM1_DESC></SYMPTOM1_DESC>
          <SYMPTOM2></SYMPTOM2>
          <SYMPTOM2_DESC></SYMPTOM2_DESC>
          <SYMPTOM3>{* TBA *}</SYMPTOM3>
          <SYMPTOM3_DESC>{* TBA *}</SYMPTOM3_DESC>
          <IRIS_SYMPTOM>{$job.SymptomCode}</IRIS_SYMPTOM>
          <IRIS_SYMPTOM_DESC></IRIS_SYMPTOM_DESC>
          <IRIS_CONDITION>{$job.ConditionCode}</IRIS_CONDITION>
          <IRIS_CONDITION_DESC></IRIS_CONDITION_DESC>
        </SYMPTOM>
      </PRODUCT>
      <OPERATOR></OPERATOR>
      <SERVICE>
        <SERVICE_TYPE>CI</SERVICE_TYPE>
        <SERVICE_TYPE_DESC>{$service_type.ServiceTypeName}</SERVICE_TYPE_DESC>
      </SERVICE>
      <SUB_TYPE>{if $branch.BranchType == 'Mobile Network Store'}OP{else}DE{/if}</SUB_TYPE>
      <PACK>
        <PACK_NO>{$job.ExtendedWarrantyNo}</PACK_NO>
        <SERVICE_LEVEL></SERVICE_LEVEL>
        <SERVICE_LEVEL_DESC></SERVICE_LEVEL_DESC>
      </PACK>
      <CARRIER></CARRIER>
      <SIGNAL>
        <SIGNAL_TYPE></SIGNAL_TYPE>
        <SIGNAL_COMPANY></SIGNAL_COMPANY>
        <SIGNAL_MODEL></SIGNAL_MODEL>
      </SIGNAL>
      <PC_INFO>
        <PC_OS_TYPE></PC_OS_TYPE>
        <PC_TYPE></PC_TYPE>
        <PC_MANUFACTURER></PC_MANUFACTURER>
        <PC_MODEL></PC_MODEL>
      </PC_INFO>
      <DISTANCE></DISTANCE>
      <SAW_NO></SAW_NO>
      <PANEL_VERSION></PANEL_VERSION>
      <REQUEST_DATE>{$job.DateBooked|date_format:'%Y%m%d'}</REQUEST_DATE>
      <REQUEST_TIME>{$job.TimeBooked|date_format:'%H%M%S'}</REQUEST_TIME>
      <REPAIR_ETD_DATE>{$job.ETDDate|date_format:'%Y%m%d'}</REPAIR_ETD_DATE>
      <REPAIR_ETD_TIME>{$job.ETDDate|date_format:'%H%M%S'}</REPAIR_ETD_TIME>
      <TRACKING>
        <TR_STATUS>ST010</TR_STATUS>
        <TR_STATUS_DESC></TR_STATUS_DESC>
      </TRACKING>
      <TRREASON>
        <TR_REASON></TR_REASON>
        <TR_REASON_DESC></TR_REASON_DESC>
      </TRREASON>
      <WARRANTY_LABOR>I</WARRANTY_LABOR>
      <WARRANTY_PARTS>I</WARRANTY_PARTS>
      <INQUIRY_TEXT>{$job.ReportedFault}</INQUIRY_TEXT>
      <REF_NO></REF_NO>
      <COLLECT_POINT></COLLECT_POINT>
      <COLLECT_POINT_DESC></COLLECT_POINT_DESC>
    </ASREQUEST_INFO>
    <CONSUMER_INFO>
      <BP_NO>{$customer.SamsungCustomerRef}</BP_NO>
      <BP_ROLE></BP_ROLE>
      <COMPANY_NAME></COMPANY_NAME>
      <CUSTNAME>
        <TITLE>{$customer_title.Title}</TITLE>
        <FIRST_NAME>{$customer.ContactFirstName}</FIRST_NAME>
        <LAST_NAME>{$customer.ContactLastName}</LAST_NAME>
      </CUSTNAME>
      <PHONE>
        <TEL_NUMBER1>{$customer.ContactHomePhone}</TEL_NUMBER1>
        <TEL_NUMBER2>{$customer.ContactMobile}</TEL_NUMBER2>
        <TEL_NUMBER3>{$customer.ContactWorkPhone}</TEL_NUMBER3>
        <FAX_NUMBER>{$customer.ContactFax}</FAX_NUMBER>
        <E_MAIL>{$customer.ContactEmail}</E_MAIL>
      </PHONE>
      <ADDRESS>
        <ADDRESS_NUMBER></ADDRESS_NUMBER>
        <COUNTRY>{$country.Name}</COUNTRY>
        <REGION>{$county.Name}</REGION>
        <POST_CODE>{$customer.PostalCode}</POST_CODE>
        <CITY>{$customer.TownCity}</CITY>
        <ADDRESS1>{$customer.Street}</ADDRESS1>
        <ADDRESS2>{$customer.BuildingNameNumber}</ADDRESS2>
        <ADDRESS3>{$customer.LocalArea}</ADDRESS3>
      </ADDRESS>
      <CONTACTPERMISSION>
	<CONTACT>{if $customer.DataProtection eq 'Yes'}1{elseif $customer.DataProtection eq 'No'}2{else}3{/if}</CONTACT>
	<CONTACT_MOBILE>{$consent.DataProtectionMobile}</CONTACT_MOBILE>
	<CONTACT_EMAIL>{$consent.DataProtectionEmail}</CONTACT_EMAIL>
	<CONTACT_HOME>{$consent.DataProtectionHome}</CONTACT_HOME>
	<CONTACT_OFFICE>{$consent.DataProtectionOffice}</CONTACT_OFFICE>
	<CONTACT_SMS>{$consent.DataProtectionSMS}</CONTACT_SMS>
	<CONTACT_LETTER>{$consent.DataProtectionLetter}</CONTACT_LETTER>
      </CONTACTPERMISSION>
    </CONSUMER_INFO>
    <DEALER_INFO>
      <BP_NO></BP_NO>
      <BP_ROLE></BP_ROLE>
      <COMPANY_NAME>{$job.OriginalRetailer}</COMPANY_NAME>
      <CUSTNAME>
        <TITLE></TITLE>
        <FIRST_NAME></FIRST_NAME>
        <LAST_NAME></LAST_NAME>
      </CUSTNAME>
      <PHONE>
        <TEL_NUMBER1></TEL_NUMBER1>
        <TEL_NUMBER2></TEL_NUMBER2>
        <TEL_NUMBER3></TEL_NUMBER3>
        <FAX_NUMBER></FAX_NUMBER>
        <E_MAIL></E_MAIL>
      </PHONE>
      <ADDRESS>
        <ADDRESS_NUMBER></ADDRESS_NUMBER>
        <COUNTRY></COUNTRY>
        <REGION></REGION>
        <POST_CODE></POST_CODE>
        <CITY>{$job.RetailerLocation}</CITY>
        <ADDRESS1></ADDRESS1>
        <ADDRESS2></ADDRESS2>
        <ADDRESS3></ADDRESS3>
      </ADDRESS>
    </DEALER_INFO>
  </AS_REQUEST>
</ASREQUEST_CIC_ASC>